<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Название</td>
            <td>Исполнения</td>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'cardfile:record_detail' object.pk %}">{{ object.name }}</a></td>
                <td>{% for performance in object.performances.all %}<br>{{ performance }}{% empty %}Информации не будет{% endfor %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
